<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D13AD2D1E571DEA00F8F981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D13AD341E571E8000F8F981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2D9E821E5ADCD7001A6AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2D9E9D1E5AE001001A6AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2D9EB81E5AE02E001A6AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF7C7471E5848B300723C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
